  <h2 class="title-pag">Gravity falls personajes</h2>
<section class="section-FaL">

  <!--Formulario-->
  <form [formGroup]="personajesForm" class="form-container" (ngSubmit)="guardarPersonaje()">
    @if (personajesForm.get("nombre")?.hasError("required")) {
    <span class="error">El nombre es obligatorio</span>
    }
    <input
      class="input-name"
      formControlName="nombre"
      type="text"
      placeholder="Nombre"
      [(ngModel)]="personaje.nombre"
      name="nombre"
      required
    />
    <br>
     @if (personajesForm.get("altura")?.hasError("required")) {
    <span class="error">La altura es obligatoria</span>}
    <input
      class="input-altura"
      formControlName="altura"
      type="text"
      placeholder="Altura"
      [(ngModel)]="personaje.altura"
      name="altura"
      required
    />
    <br>

     @if (personajesForm.get("edad")?.hasError("required")) {
    <span class="error">La edad es obligatoria</span>
    }

    <input
      class="input-edad"
      formControlName="edad"
      type="text"
      placeholder="Edad"
      [(ngModel)]="personaje.edad"
      name="edad"
      required
    />
    <br>

@if (personajesForm.get("cabello")?.hasError("required")) {
    <span class="error">El color de cabello es obligatorio</span>
    }

    <input
      class="input-cabello"
      formControlName="cabello"
      type="text"
      placeholder="Color de cabello"
      [(ngModel)]="personaje.cabello"
      name="cabello"
      required
    />
    <br>

 @if (personajesForm.get("sexo")?.hasError("required")) {
    <span class="error">Es obligatorio seleccionar el genero del personaje</span>
    }
    <label for="sexo">genero: </label>
    <select
      class="input-sexo"
      formControlName="sexo"
      name="sexo"
      id="sexo"
      [(ngModel)]="personaje.sexo"
      required
    >
      <option value="femenino">femenino</option>
      <option value="masculino">masculino</option>
      <option value="otro">Otro</option>
    </select>
    <br />

    <input
      class="input-habilidades"
      formControlName="habilidades"
      type="text"
      placeholder="Habilidades"
      [(ngModel)]="personaje.habilidades"
      name="habilidades"
      required
    />

    <button class="btn_form" type="submit" [disabled]="personajesForm.invalid">
      {{ actualizado ? 'Actualizar' : 'Guardar' }}
    </button>
  </form>
  <br />

  <!--tabla (lista de personajes)-->
  <table border="1" class="table-list">
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Altura</th>
      <th>Color de cabello</th>
      <th>Genero</th>
      <th>Habilidades</th>
      <th>Acciones</th>
    </tr>

    <tr *ngFor="let p of personajes">
      <td>{{ p.nombre }}</td>
      <td>{{ p.edad }}</td>
      <td>{{ p.altura }}</td>
      <td>{{ p.cabello }}</td>
      <td>{{ p.sexo }}</td>
      <td>{{ p.habilidades }}</td>
      <td>
        <button (click)="abrirModalActualizar(p)">Editar</button>
        <button (click)="abrirModalEliminar(p)">Eliminar</button>
      </td>
    </tr>
  </table>


  <!--MODALES :D (AYUA)-->
  <!-- Button trigger modal -->

<!-- Modal -->
<div *ngIf="modalEliminar==true" class="modal fade show d-block modal-fondo text-center">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Esta seguro que desea eliminar el personaje?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

</section>
